			<!-- Banner -->
<section id="banner">
    <header>
        <h2><em>Лучшее, что есть у человека, - это</em> братья наши меньшие. <em>Берегите своих питомцев, а мы поможем Вам в этом!</em></h2>
        @Html.ActionLink("Подробнее", "Index", "Service", null, new { @class = "button" })
    </header>
</section>

<!-- Highlights -->
<section class="wrapper style1">
    <div class="container">
        <div class="row 200%">
            <section class="4u 12u(narrower)">
                <div class="box highlight">
                    <i class="icon major"><img class="icon major" src="~/Content/images/heart.png" /></i>
                    <h3>Любовь к каждому питомцу</h3>
                    <p>Мы проявляем тепло и заботу к каждому питомцу, а также находим индивидуальный подход в уходе за ним</p>
                </div>
            </section>
            <section class="4u 12u(narrower)">
                <div class="box highlight">
                    <i class="icon major"><img class="icon major" src="~/Content/images/star.png" /></i>
                    <h3>Мы лучшие</h3>
                    <p>В нашей клинике работают мастера своего дела, у нас ежегодно сотни наград и дипломов</p>
                </div>
            </section>
            <section class="4u 12u(narrower)">
                <div class="box highlight">
                    <i class="icon major"><img class="icon major" src="~/Content/images/booklet.png" /></i>
                    <h3>Индивидуальная карта питомца</h3>
                    <p>Вы можете в любой момент просмотреть карту своего питомца и список услуг для него</p>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- Gigantic Heading -->
<section class="wrapper style2">
    <div class="container">
        <header class="major">
            <h2>Мы ждем Вас и Вашего питомца</h2>
            <p>Закажите услугу для своего любимца, ведь он заслуживает самый лучший сервис</p>
        </header>
    </div>
</section>

<!-- Posts -->
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="~/Content/images/dog.jpg" /></a>
                    <div class="inner">
                        <h3>Стрижка</h3>
                        <p>Стрижка любой формы быстро и недорого!</p>
                    </div>
                </div>
            </section>
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="~/Content/images/stomatolog.jpg" /></a>
                    <div class="inner">
                        <h3>Чистка зубов</h3>
                        <p>Почистим так, что блестеть будет еще долго!</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="~/Content/images/kogti.jpg" /></a>
                    <div class="inner">
                        <h3>Стрижка ногтей</h3>
                        <p>Эти коготки больше не испортят мебели!</p>
                    </div>
                </div>
            </section>
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="~/Content/images/scan.jpg" /></a>
                    <div class="inner">
                        <h3>Чипирование</h3>
                        <p>Вы всегда найдете своего любимца!</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>