<section class="wrapper style1">
    <div class="container">
        <div id="content">
        </div>
    </div>
</section>

<script src="/Scripts/Staff.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            getStaff(2, false);
        }, 100);
    });
</script>
